@import "mandoc.css";

:root {
	--border-radius: 10px;

	--color-snippet: #161b22;	
	--color-link: #7b8333;
	--color-bg: #0d1117;
	--color-text: #c9d1d9;

	--color-table-border: #30363d;
	--color-table-accent: #161b22;

	--color-error-bg: #5c6434;
	--color-error: white;
}

html {
	max-width: 100%;
}

body {
    margin: auto;
    max-width: 8.5in;
    padding: 0.25in;

	color: var(--color-text);
	background-color: var(--color-bg);

	font-family: Arial;
}

.msg-error {
	background-color: var(--color-error-bg);
	color: var(--color-error);
	border-radius: var(--border-radius);
	padding: 20px;
}

.msg-error a {
	color: var(--color-error);
	font-weight: bold;
	text-decoration: underline
}

.code {
    background-color: var(--color-snippet);
    border-radius: var(--border-radius);
    display: block;
    padding: 0.5em 1em 1.5em 1em;

    font-family: monospace;
    white-space: pre;
	overflow: auto;
}

code {
	background-color: var(--color-snippet);
	border-radius: calc(var(--border-radius) / 2);
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid var(--color-table-border);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

h1 {
	text-align: center;
}

h1, h4, h5, h6 {
    border-bottom: 1px dashed var(--color-table-border);
}

hr {
	border: 0;
	border-bottom: 1px dashed var(--color-table-border);
}

h4, h5, h6 {
    width: fit-content;
}

a {
    color: var(--color-link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: separate;
	border-spacing: 0px;
}

td, th {
    border: 1px solid var(--color-table-border);
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: var(--color-table-accent);
}

/* Thanks Jonah! */
#logo {
	display: block;
	margin: auto;
	width: 50vw;
	max-width: 400px;
}

